#flow-container {
  background-color: lightsteelblue;
  .step {
    border: 1px solid #bd4147;
    padding: 10px;
    margin: 10px;
  }
}

.steps-container {
  background-color: lightsalmon;
  .step {
    padding-top: 10px;
  }
}

.drag-handle {
  margin-right: 10px;
  font: bold 20px Sans-Serif;
  color: #5F9EDF;
  display: inline-block;
  cursor: move;
  cursor: -webkit-grabbing;
}

.hidden {
  display: none;
}

.sortable-ghost {
  // Class name for the drop placeholder
  background-color: #dddddd;
}
