.card {
  box-shadow: 0 1px 1px 0 rgba(31,45,61,.05);

  &-block {
    z-index: 1;

    .icon {
      fill: none;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle;
      width: 20px;
    }
  }

  &-img-top {
    .icon {
      fill: $gray-lighter;
      height: 80px;
      position: absolute;
      right: 20px;
      width: 80px;
      z-index: 0;
    }
  }

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(31,45,61,.1);
    cursor: pointer;
  }

  &-footer {
    .icon {
      fill: none;
      height: 20px;
      vertical-align: middle;
      width: 20px;

      &.send {
        stroke-width: 5px;
      }
    }
  }
}
