.flow-container {
  background-color: $white;
  padding: 20px;

  .drag {
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    margin-right: 10px;
    padding: .5rem .75rem;
  }

  .icon {
    fill: $btn-secondary-color;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }

  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;

    .icon {
      fill: $brand-primary;
    }
  }

  .sortable-ghost {
    background-color: $gray-lightest;
  }

  .multiple-choice .input-group {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .file-type {
    margin-top: 20px;
  }

  .list-group-item {
    align-items: flex-start;
    border-radius: $border-radius;
    margin-bottom: 20px;

    &:hover {
      .drag,
      .form-control,
      .input-group-addon {
        border-color: $gray-light;
        box-shadow: 0px 2px 5px $gray-lighter;
        cursor: pointer;
      }
    }
  }
}
