.search {
  margin-top: 30px;
  
  .form-control {
    border-color: $brand-primary;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 300;
  }

  .btn {
    font-size: 16px;
    height: 40px;
  }
}
