.content {
  min-height: 80vh;

  > div,
  > div > div,
  > div, > div, > div {
    height: 100%;
  }
}

footer {
  height: 10vh;
}

// responsive sidenav
@include media-breakpoint-only(xs) {
  .sidenav {
    @include transition(transform);
    box-shadow: $shadow-md;
    height: 100%;
    position: absolute;
    transform: translateX(-300px);
    z-index: 1;

    &.expanded {
      transform: translateX(0);
    }

    .nav-link {
      padding: 20px 0;
    }
  }
}

// empty states
.illustration {
  display: block;
  height: 200px;
  margin: 20px auto;
  width: 200px;
}
