.content {
  min-height: 80vh;
}

footer {
  height: 10vh;
}

// responsive sidenav
@include media-breakpoint-only(xs) {
  .sidenav {
    @include transition(transform);
    box-shadow: $shadow-md;
    height: 100%;
    position: absolute;
    transform: translateX(-300px);
    z-index: 1;

    &.expanded {
      transform: translateX(0);
    }

    .nav-link {
      padding: 20px 0;
    }
  }
}

// empty states
.illustration {
  display: block;
  height: 200px;
  margin: 20px auto;
  width: 200px;
}

//colocar noutro scss
.vuetable{
  background-color: $gray-lightest;
  thead tr{
    background-color:$gray-light;
    /*position: -webkit-sticky;
    position: sticky;
    top:250px;
    z-index: 10;*/
 }
  .detail td{
    background-color: $white;
    padding-left: 70px;
  }
}

.sticky-top-left {
  position: -webkit-sticky;
  position: sticky;
  top:100px;
  z-index: 1030; }