.navbar {
  border-bottom: 1px solid $gray-lighter;

  &-brand {

    &-icon {
      background-image: url('../images/welcome.svg');
      background-size: cover;
      height: 42px;
      width: 42px;
    }
  }
}

.nav {

  &-link {
    color: $gray-dark;
  }
}
