.navbar {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $gray-lighter;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  &-brand {
    font-size: 1rem;
    font-weight: 300;

    // logo icon
    &-icon {
      background-image: url('../images/welcome.svg');
      background-size: cover;
      display: inline-block;
      height: 32px;
      margin-right: 10px;
      vertical-align: middle;
      width: 32px;
    }
  }

  &-nav {
    align-items: center;
  }

  // List item icon
  .icon {
    border: 1px solid $gray-lighter;
    border-radius: 1000px;
    fill: $gray-light;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    width: 30px;

    &:hover {
      @include transition(all);
      border-color: $brand-primary;
      fill: $brand-primary;
    }

    &:focus {
      background-color: $brand-primary;
    }
  }

  // Icon inside nav-link
  .nav-link {
    .icon {
      margin-left: 10px;
    }

    &:hover {
      .icon {
        @include transition(all);
        border-color: $brand-primary;
        fill: $brand-primary;
      }
    }
  }

}
