.sidenav {
  background-color: $white;
  border-right: 1px solid $gray-lighter;
  width: 68px;

  .nav-item {
    height: 60px;
    text-align: center;

    &:hover {
      background-color: $gray-lightest;
      @include transition(all);

      .nav-link {
        color: $brand-primary;
      }

      .icon {
        stroke: $brand-primary;
      }
    }
  }

  .nav-link {
    color: $gray;
    font-size: 14px;
    padding: 20px;

    .icon {
      fill: none;
      height: 24px;
      stroke: $gray-light;
      vertical-align: middle;
      width: 24px;
    }

    &.active {
      color: $brand-primary;

      .icon {
        fill: $brand-primary;
        stroke: transparent;
      }
    }
  }

  // align items center on tablet
  @include media-breakpoint-down(md) {
    text-align: center;

    // Hide text on tablet and down
    span {
      display: none;
    }
  }
}