.sidenav {
  border-right: 1px solid $gray-lighter;
  text-align: center;
  width: 60px;

  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    color: $gray-light;
    font-size: 20px;

    .icon {
      fill: $white;
      height: 24px;
      stroke: $gray-light;
      width: 24px;

      &:hover {
        stroke: $brand-primary;
      }
    }

    &.active {
      color: $brand-primary;

      .icon {
        fill: $brand-primary;
        stroke: transparent;
      }
    }
  }
}
