.step {
  &-container {
    background-color: $gray-lightest;
    border-right: 1px solid $gray-lighter;
    padding: 20px;
    min-height: 80vh;
    text-align: center;

    .btn-secondary {

      span {
        display: inline-block;
        margin-left: 10px;
      }

      i {
        color: $gray-light;
        font-size: 16px;
        vertical-align: middle;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: $white;
        cursor: pointer;

        i {
          color: $white;
        }

        .step-icon {
          fill: $white;
        }
      }
    }
  }

  &-type {
    margin-bottom: 20px;
  }

  &-icon {
    fill: $btn-secondary-color;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

.drag-area {
  background-color: $gray-lightest;
  border: 1px dashed $gray-light;
  border-radius: $border-radius;
  font-size: 18px;
  font-weight: 300;
  margin: 30px 0;
  padding: 20px;
  text-align: center;
}
