.step {
  &-container {
    background-color: $gray-lightest;
    border-right: 1px solid $gray-lighter;
    padding: 20px;
    text-align: center;

    .btn-secondary {

      span {
        display: inline-block;
        margin-left: 10px;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: $white;
        cursor: pointer;

        .step-icon {
          fill: $white;
        }
      }
    }
  }

  &-type {
    margin-bottom: 20px;
  }

  &-icon {
    fill: $btn-secondary-color;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}
