.title {
  background-color: $white;
  border-bottom: 1px solid $gray-lighter;
  font-size: 1.2rem;
  margin: -20px -20px 20px -20px;
  padding: 20px;
  text-align: center;
}

input {
  font-family: $font-family-sans-serif;
}
