// Reassign color vars to semantic color scheme
$brand-primary:             #049fd9;

$gray-lighter:              #f2f5f7;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight:  300;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  2rem;
$btn-padding-y:                  1rem;
