// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Reassign color vars to semantic color scheme
// Cisco spark blue
$brand-primary:             #07c1e4;

// Cisco spark gray
$gray-dark:                 #4e4e50;
$gray-light:                #aeaeaf;
$gray-lighter:              #ececed;
$gray-lightest:             #f5f5f6;

$border-radius:          .25rem;
$border-radius-lg:       .3rem;
$border-radius-sm:       .2rem;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight:  300;

$font-size-base: 0.85rem;

$text-muted: $gray-light;

// Shadows
$shadow-lg:         0 14px 26px 0 rgba(205, 212, 217, .65);
$shadow-md:         0 0 10px 0 rgba(205, 212, 217, .65);

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                300;

$btn-secondary-color:            $gray-dark;
$btn-secondary-bg:               $white;
$btn-secondary-border:           $gray-lighter;

// Navbar

$navbar-light-color:                $gray-light;
$navbar-light-hover-color:          $brand-primary;
$navbar-light-active-color:         $brand-primary;

// List group

$list-group-border-color:        $gray-lighter;

// Forms
$input-border-color:             $gray-lighter;
$input-group-addon-bg:           $white;
$input-group-addon-border-color: $input-border-color;
