extends layout

block content
  div.container-fluid
    div.mt-5.row
      img.col-4.illustration(src=static.root + "/images/bot.svg")
      div.col-8
        h1.title-welcome
          strong Welcome!
        h2 To Cisco Spark Onboarding Bot
    div.text-center
      a.btn.btn-primary.btn-lg.mt-3(href='/manager') Manage Flows

  //script.
    // Workaround to redirect to 3000 on dev after signing in
    if (window.location.port === "8080") {
      window.location.replace("http://localhost:3000")
    }