extends layout

block content
  div#root
    p Answers

    button.btn.btn-primary(type="button", @click="showAnswers", style="margin: 20px;") Show answers

    div(v-for="answer in answers")
      div {{ answer.stepId }} / {{ answer.text }} / {{ answer.answerDate }}

block pageScripts
  script(src=static.root + '/js/manager_flow_answers.js')