extends layout

block content
  div.p-4#root
    h1.text-center.mb-4.mt-4 Send flow
      strong  !{title}
      |  to the respondents

    div.row(style="height: initial; background-color: #bbb; font-size: 10px; margin: 20px; position: absolute; bottom: 0;")
      div.col-lg-12
        div Temporary helper (click the address to add to the input field):
        mixin testemail(email)
          div(style="padding: 10px; cursor: pointer;", @click="addEmailToInput($event)")= email
        +testemail('andre.ventura@bitmaker-software.com')
        +testemail('ines.gomes@bitmaker-software.com')
        //+testemail('tiago.fernandes@bitmaker-software.com')
        //+testemail('ricardo.fernandes@bitmaker-software.com')
        //+testemail('barbara.mendes@bitmaker-software.com')

    div.row
      div.col-6.offset-3
        div.row.search
          div.col-10
            input.form-control#txt-search-user(type='text', name='search-user', placeholder='Type a username to search', v-model='searchInput', @keyup.enter='doSearch')
          div.col-2
            input#btn-search-user.btn.btn-primary.btn-block(type='button', name='btn-search-user', :value='searching ? "Searching" : "Search"', @click='doSearch', :disabled='searching || searchInput.trim() === \'\'')

        div.row.mt-4
          div.col(v-if='searchResultsInfo') 
            h2.mb-4.text-muted {{ searchResultsInfo }}
        
        div.row(v-for='user in searchResults')
          div.col
            a
              h5.mb-1 {{ user.displayName }}
              a(href="#").mb-1 {{ user.email }}
          div.col.text-right
            input.btn.btn-outline-primary(type="button", value="Send", @click="sendFlowToUser(user)")
        hr          

block pageScripts
  script.
    var flowId = !{flowId}; // used on AJAX requests
  script(src=static.root + '/js/manager_flow_send.js')
