extends layout

block content
  div#root
    div.row
      h1.mt-4.mb-4.col-8 Send flow
        strong  {{ flow.name }}
        |  to the respondents
      div.btn-group.mb-4.mt-4.col-4.btn-header(role="group")
        a.btn.btn-outline-dark(href='/manager/flow/' + flowId + '/edit', role="button", data-toggle="tooltip")
          svg.icon
            use(xlink:href=static.root + "/sprite.svg#settings")
          | Edit
        a.btn.btn-outline-dark.active(href='/manager/flow/' + flowId + '/send', role="button", data-toggle="tooltip")
          svg.icon.send
            use(xlink:href=static.root + "/sprite.svg#send")
          | Send
        a.btn.btn-outline-dark(href='/manager/flow/' + flowId + '/answers', role="button", data-toggle="tooltip")
          svg.icon
            use(xlink:href=static.root + "/sprite.svg#answer")
          | Answers
        a.btn.btn-outline-dark(href='/manager/flow/' + flowId + '/dashboard',role="button",data-toggle="tooltip")
          svg.icon
            use(xlink:href=static.root + "/sprite.svg#dashboard")
          | Dashboard

    //div.row(style="height: initial; background-color: #bbb; font-size: 10px; margin: 20px; position: absolute; bottom: 0;")
    //  div.col-lg-12
    //    div Temporary helper (click the address to add to the input field):
    //    mixin testemail(email)
    //      div(style="padding: 10px; cursor: pointer;", @click="addEmailToInput($event)")= email
    //    +testemail('andre.ventura@bitmaker-software.com')
    //    +testemail('ines.gomes@bitmaker-software.com')
    //    //+testemail('tiago.fernandes@bitmaker-software.com')
    //    //+testemail('ricardo.fernandes@bitmaker-software.com')
    //    //+testemail('barbara.mendes@bitmaker-software.com')

    div.row
      div.col-6.offset-3
        div.row.search
          div.col-10
            input.form-control(type='text', name='search-user', placeholder='Type a username to search', v-model='searchInput', @keyup.enter='doSearch')
          div.col-2
            input.btn.btn-primary.btn-block(type='button', name='btn-search-user', :value='searching ? "Searching" : "Search"', @click='doSearch', :disabled='searching || searchInput.trim() === \'\'')

        div(v-if='!searchResultsInfo', style='color: #666; font-style: italic; margin-top: 20px;') Search above to find people to send the flow to.

        div.row.mt-4
          div.col(v-if='searchResultsInfo')
            h2.mb-4.text-muted {{ searchResultsInfo }}

        div.row(v-for='user in searchResults')
          div.col
            a
              h5.mb-1 {{ user.displayName }}
              a(href="#").mb-1 {{ user.email }}
          div.col.text-right
            input.btn.btn-outline-primary(type="button", value="Send", @click="sendFlowToUser(user)")
        hr



    div.div.col-6.offset-3(v-if='peopleToMeetSteps.length > 0')
      h3 People to meet steps
      h5 This flow has people to meet steps. Add the people for each step:

      div(v-for='(item, index) in peopleToMeetSteps', style='margin-top: 30px; padding: 20px; background-color: #f3f3f3;')
        h5 {{ index + 1 }}) {{ item.stepText }}
        div(v-if='item.list.length === 0', style='color: #666; font-style: italic;') No person added yet. Search bellow to add people to the list.
        div(v-for='person in item.list')
          div - {{ person.displayName }} ({{ person.email }})
            span.input-group-addon(@click='removePersonFromPeopleToMeet(person, item.list)',
            style='margin-left: 20px; display: inline-block; padding: 2px;')
              i.material-icons delete
        //a(v-if='!item.showSearch', @click='item.showSearch = true;') Search for people
        //a(v-else, @click='item.showSearch = false;') Hide search
        //div(v-if='item.showSearch')
        div(style='padding: 20px 0 20px 0; background-color: #f3f3f3;')
          div.row.search(style='margin: 0;')
            div.col-10(style='padding: 0;')
              input.form-control(name='search-user', placeholder='Type a username to search', v-model='item.searchInput', @keyup.enter='searchUserToMeet(item)')
            div.col-2
              input.btn.btn-primary.btn-block(type='button', name='btn-search-user', :value='item.searching ? "Searching" : "Search"', @click='searchUserToMeet(item)', :disabled='item.searching || item.searchInput.trim() === \'\'')

          div.row.mt-4(v-if='item.searchResultsInfo')
            div.col
              h2.mb-4.text-muted {{ item.searchResultsInfo }}

          div.row(v-for='user in item.searchResults')
            div.col
              a
                h5.mb-1 {{ user.displayName }}
                a(href="#").mb-1 {{ user.email }}
            div.col.text-right
              input.btn.btn-outline-primary(type="button", value="Add", @click="addPersonToPeopleToMeet(user, item.list)")

block pageScripts
  script.
    var flowId = !{flowId}; // used on AJAX requests
    var flowFromServer = !{JSON.stringify(flow)};
  script(src=static.root + '/js/manager_flow_send.js')
