extends layout

block content



  script.
    // WORKAROUND TO REDIRECT TO 3000 ON DEV
    if (window.location.port === "8080") {
      window.location.replace("http://localhost:3000")
    }



  div.flow-manager
    h4.mb-4 Your flows
    if flows.length === 0
      h5.text-center You have no flows yet.
    else
      div.row
        div.col
          div.card-deck
            each flow in flows
              div.card
                div.card-block
                  h4.card-title= flow.name
                  div.card-text= flow.flow_status.description
                div.card-footer.text-right
                  a.btn.btn-outline-primary(href='/manager/flow/' + flow.id, role="button")
                    i.material-icons edit
                  a(href='/manager/flow/' + flow.id + '/send', role="button")
                    i.material-icons email
          // Trigger the modal with a button
          div.text-center
            button.btn.btn-outline-primary.btn-lg.mt-4(type="button", data-toggle="modal", data-target="#myModal") Add flow
              =" "
              i.material-icons(style='font-size:16px;') add

  // Modal
  div#myModal.modal.fade(role="dialog")
    div.modal-dialog
      // Modal content
      div.modal-content
        div.modal-header
          h4.modal-title New flow
          button.close(type="button" data-dismiss="modal") &times;
        div.modal-body
          div.form-group
            label(for="name") Name
            input.form-control#name
        div.modal-footer
          button#modal-add-flow.btn.btn-primary(type="button") Add flow
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

  script(src=static.root + '/js/manager_flows.js')