extends layout

block content
  h1= title

  div.flows-container
    | Your flows
    if flows.length === 0
      | You have no flows yet.
    else
      each flow in flows
        div
          | #{flow.name} | #{flow.status}
          | |&nbsp;
          a.flow(href='/manager/flow/' + flow.id) edit
    div
      a(href='/manager/flow/new') add flow




  h3(style='margin-top:50px') Tests/Sandbox:

  div
    a(href='/test') Test search by user

  script(src='/javascripts/manager.js' defer)