extends layout

block content
  div#root
    -var page = 1;

    div.row
        div.col-3
            div.row.search
                div.col-7
                    input#txt-search.form-control(type='text', name='search', placeholder='Type to search', v-model='searchInput', @keyup.enter='doSearch')
                div.col-5
                    input#btn-search.btn.btn-primary.btn-block(type='button', name='btn-search', value='Search', @click='doSearch')

    //table
    mixin rowHeader(items)
        tr
            each item, index in items
                th= item
                    span(@click="order("+index+")")
                        svg.step-icon
                            use(xlink:href=static.root + "/sprite.svg#order")

    mixin row(items)
        tr
            each item, index in items
                td= item

    mixin table(tableHeader)
        table.table
            .table-responsive
            thead
                each row, index in tableHeader
                    +rowHeader(row)
            tbody
                tr(v-for="answer in answers")
                    td.col-sm-1 {{ answer.respondent_flow.respondent.name}}
                    td.col-sm-1 {{ answer.answer_date }}
                    td.col-sm-4 {{ answer.step.step_order }} : {{ answer.step.text }}
                    td.col-sm-6 {{ answer.answer }}

    - var myheader = [{1: "User  ", 2: "Date  ",3: "Question  ",4: "Answer  "}]
    +table(myheader)

    mixin newli(myNumber)
        li.page-item
            -page = myNumber;
            a.page-link(href="#", @click="showAnswers("+page+")")= myNumber

    //pagination
    div
        nav(aria-label="paginator").offset-5
            ul.pagination
                li.page-item
                    -if(page > 1) page--;
                    a.page-link(href="#", aria-label="Previous", @click="showAnswers("+page+")")
                        span(aria-hidden="true") &laquo;
                        span.sr-only Previous
                - var n = 0;
                template(v-for="n1 in maxPages")
                    +newli(++n)

                li.page-item
                    -if(page < 2) page++;
                    a.page-link(href="#" aria-label="Next", @click="showAnswers("+page+")")
                        span(aria-hidden="true") &raquo;
                        span.sr-only Next

block pageScripts
  script.
    var flowId = !{flowId}; // used on AJAX requests
  script(src=static.root + '/js/manager_flow_answers.js')