extends layout

block content

  div.flows-container
    h4 Your flows
    if flows.length === 0
      h5 You have no flows yet.
    else
      table.table.table-striped
        thead
          tr
            th Flow name
            th Flow Status
            th
        tbody
          each flow in flows
            tr
              td= flow.name
              td= flow.flow_status.description
              td
                a(href='/manager/flow/' + flow.id, role="button")
                  i.material-icons edit
    div
      // Trigger the modal with a button
      button.btn.btn-info.btn-lg(type="button", data-toggle="modal", data-target="#myModal") add flow
        =" "
        i.material-icons(style='font-size:16px;') add

  // Modal
  div#myModal.modal.fade(role="dialog")
    div.modal-dialog
      // Modal content
      div.modal-content
        div.modal-header
          h4.modal-title New flow
          button.close(type="button" data-dismiss="modal") &times;
        div.modal-body
          div.form-group
            label(for="name") Name
            input.form-control#name
        div.modal-footer
          button#modal-add-flow.btn.btn-primary(type="button") Add flow
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

  script(src=static.root + '/js/manager_flows.js')
