extends layout

block content



  script.
    // WORKAROUND TO REDIRECT TO 3000 ON DEV
    if (window.location.port === "8080") {
      window.location.replace("http://localhost:3000")
    }



  div.p-4
    h1.mb-4 Your flows
    if flows.length === 0
      h5.text-center You have no flows yet.
    else
      div.row
        div.col
          div.card-deck
            each flow in flows
              div.card
                div.card-img-top
                  svg.icon
                    use(xlink:href=static.root + "/sprite.svg#flow-fill")
                div.card-block
                  h4.card-title= flow.name
                  div.card-text
                    span.badge.badge-pill.badge-primary= flow.flow_status.description
                div.card-footer
                  div.row
                    div.col
                      a.btn.btn-outline-dark(href='/manager/flow/' + flow.id + '/edit', role="button")
                        svg.icon.mr-2
                          use(xlink:href=static.root + "/sprite.svg#settings")
                        | Edit flow
                    div.col.text-right
                      div.btn-group(role="group")
                        a.btn.btn-outline-dark(href='/manager/flow/' + flow.id + '/send', role="button", data-toggle="tooltip" data-placement="bottom" title="Send")
                          svg.icon.send
                            use(xlink:href=static.root + "/sprite.svg#send")
                        a.btn.btn-outline-dark(href='/manager/flow/' + flow.id + '/answers', role="button", data-toggle="tooltip" data-placement="bottom" title="Answers")
                          svg.icon
                            use(xlink:href=static.root + "/sprite.svg#answer")
                        a.btn.btn-outline-dark(href='/manager/flow/' + flow.id + '/dashboard', role="button", data-toggle="tooltip" data-placement="bottom" title="Dashboard")
                          svg.icon
                            use(xlink:href=static.root + "/sprite.svg#dashboard")
          // Trigger the modal with a button
          div.text-center
            button.btn.btn-outline-primary.btn-lg.mt-4(type="button", data-toggle="modal", data-target="#myModal") Add flow
              =" "

  // Modal
  div#myModal.modal.fade(role="dialog")
    div.modal-dialog
      // Modal content
      div.modal-content
        div.modal-header
          h4.modal-title New flow
          button.close(type="button" data-dismiss="modal") &times;
        div.modal-body
          div.form-group
            label(for="name") Flow name
            input.form-control#name
        div.modal-footer
          button#modal-add-flow.btn.btn-primary(type="button") Add flow
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block pageScripts
  script(src=static.root + '/js/manager_flows.js')
