extends layout

block content
  h1= title

  div
    label(for='txt-search-user') Search User:

    input#txt-search-user(type='text' name='search-user' placeholder='Type a username to search')

    input#btn-search-user.btn.btn-primary(type='button' name='btn-search-user' value='Search')

    div#result-info

    ul#lst-result-user

    script(src='/javascripts/test.js' defer)
