extends layout

block content
  a(href='/manager') Back
  h1= title
  div#flow-container
    | Example of a flow
    // will be populated after the AJAX call

  div.steps-container
    | Available step types do be added to a flow
    each stepType in stepTypes
      div.stepType
        p= 'ID: ' + stepType.id
        p= 'Description: ' + stepType.description

  script.
    var stepTypes = !{JSON.stringify(stepTypes).replace(/<\//g, '<\\/')};

  script(src='/javascripts/flow.js' defer)