doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='banner-blue')
    div(class='content')
      //| User: #{locals.user.isAuthenticated}, #{locals.siteTitle}
      if locals.user && locals.user.isAuthenticated
        a.top-right-button(href="/auth/logout") Logout
        a.top-right-button(href="/settings") Settings
      else
        a.top-right-button(href="/auth/spark") Sign up with Cisco Spark
      block content
    //script(src='https://unpkg.com/react@15/dist/react.js')
    //script(src='https://unpkg.com/react-dom@15/dist/react-dom.js')
    //script(src='https://unpkg.com/react-router/umd/react-router.min.js')
    //script(src='https://unpkg.com/history/umd/history.min.js')
    script(src='/javascripts/jquery-3.2.1.js')