# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET

# note: .env is a shell file so there can’t be spaces around =


# Database
# Update the following to use your own
db_user=ciscosparkbot
db_pass=ciscosparkbot
db_host=localhost
db_port=5432
db_db=ciscosparkonboarding

# When configuring the cisco spark integration, one should provide the
# redirect URI which has the following structure: <oauth_base_url>/auth/spark/callback
oauth_base_url=http://localhost:3000

# Cisco OAuth

cisco_spark_client_id=<your cisco spark client id here>
cisco_spark_client_secret=<your cisco spark client secret here>
session_secret=<your session secret here>

